{
  "GetHotPromos": {
    "ENVIRONMENT": "dev",
    "ENDPOINT": "http://dynamodb:8000",
    "TELEGRAM_URL": "https:api.telegram.org/<API_KEY>:<API_SECRET>/sendMessage",
    "TELEGRAM_CHAT_ID": "-123456789123",
    "AWS_LOCAL_PROFILE": "default",
    "TWITTER_APPLICATION_CONSUMER_KEY": "<TWITTER_APPLICATION_CONSUMER_KEY>",
    "TWITTER_APPLICATION_SECRET": "<TWITTER_APPLICATION_SECRET>",
    "TWITTER_USER_ACCESS_TOKEN": "<TWITTER_USER_ACCESS_TOKEN>",
    "TWITTER_USER_SECRET": "<TWITTER_USER_SECRET>"
  },
  "DeleteHotPromos": {
    "ENVIRONMENT": "dev",
    "THRESHOLD_DAYS": 0,
    "ENDPOINT": "http://dynamodb:8000"
  }
}
